body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #000000; /* Changed to black */
  color: #e0e0e0;
  font-size: 2em; /* Base font size for body */
}

h1, h2 {
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: 56px; /* Increased font size */
  text-align: center;
  margin: 0;
  animation: fadeIn 1s ease;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 40px; /* Increased font size */
  text-align: center;
  margin: 10px 0;
  animation: fadeIn 1s ease;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
  max-width: 100%;
}

.lordicon {
  flex: 0 0 250px; /* Fixed width for the icon container */
  margin-left: 20px; /* Space between text and icon */
}

.hero-section h1{
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: 100px; /* Font size for title */
  text-align: left; /* Align title to the left */
  
  /* Gradient Background */
  background: linear-gradient(270deg, #6db4e6, #9e4cbd, #6db4e6); /* Adjust colors as needed */
  background-size: 300% 300%;
  
  /* Text Styling */
  -webkit-background-clip: text; /* Safari */
  -webkit-text-fill-color: transparent; /* Safari */
  
  /* Animation (Optional) */
  animation: gradientAnimation 5s ease infinite; /* Gradient animation */
}

.lordicon-container {
  margin-left: 20px; /* Space between text and icon */
  flex: 0 0 auto; /* Prevent icon from stretching */
}


.about-section {
  padding: 40px 20px; /* Keep this padding for top and bottom */
  background-color: rgba(0, 0, 0, 0.7); /* Background color */
  margin: 20px auto; /* Centering section itself */
}

.about-section p {
  font-family: 'Poppins', sans-serif; /* Font family */
  font-weight: 400; /* Font weight */
  font-size: 30px; /* Increase the font size for the paragraph */
  margin: 0; /* Remove margin to allow full width */
  width: 90%; /* Set width to 100% */
  animation: fadeIn 1s ease; /* Animation for the paragraph */
}



.quote_mine h4{
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Changed to semi-transparent black */
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

/* Quotes Section */
.quotes-section {
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Changed to semi-transparent black */
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  font-style: italic;
}

.quotes-section h2 {
  font-size: 42px; /* Increased font size */
  color: #e0e0e0;
}

.quotes-section p {
  color: #f0f0f0;
  font-size: 24px; /* Increased font size */
  margin-top: 10px;
}

/* Newsletter Section */
.newsletter {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #000000; /* Changed to semi-transparent black */
  position: relative;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  z-index: 10;
}

.newsletter img.newsletter-image {
  width: 250px;
  height: auto;
  margin-left: 20px;
  border-radius: 5px;
}

.newsletter .newsletter-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

/* Button Styling */
.check-it-out-button {
  padding: 10px 20px;
  font-size: 18px; /* Increased font size */
  color: white;
  background-color: rgb(9, 4, 59);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 10px auto;
  text-decoration: none;
  transition: background-color 0.3s;
}

.check-it-out-button:hover {
  background-color: darkblue;
}

.check-it-out-button:active {
  background-color: darkblue;
}

.quote-circles {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.circle {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.circle.active {
  background-color: #3bc4f1;
}

.quote-container {
  display: flex;
  align-items: center;
  margin: 20px 0; /* Adjust margin as needed */
}

.lightbulb-emoji {
  font-size: 100px; /* Increase size of the light bulb icon */
  margin-right: 20px; /* Space between the icon and the quote */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
