/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

.App {
  min-height: 100vh;
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
}

header, footer {
  background-color: #1B4965;
}

button {
  cursor: pointer;
}
